<div class='container mt-28 space-y-12 lg:mt-[10.5rem]'>
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'full-column' %}
                <div
                    class='relative flex flex-col gap-y-8 overflow-hidden rounded-lg bg-[#D87D4A] px-6 py-14 lg:h-[35rem] lg:flex-row lg:justify-between lg:gap-y-0 lg:py-0 lg:pl-[4.375rem] lg:pr-12 xl:pl-[7.375rem] xl:pr-24'
                >
                    <div class='absolute -top-[53%] left-1/2 -translate-x-1/2 scale-[0.58] lg:-left-48 lg:-top-8 lg:translate-x-0 lg:scale-100 xl:-left-36'>
                        {% render 'pattern-circles' %}
                    </div>
                    <div class='z-10 flex justify-center lg:items-end'>
                        <picture>
                            <source
                                media='(min-width: 1024px)'
                                srcset='{{ block.settings.image |  image_url  }}'
                            >
                            <img src='{{ block.settings.image_mobile |  image_url  }}' alt='' width='' height=''>
                        </picture>
                    </div>
                    <div class='z-10 mx-auto flex max-w-[280px] flex-col items-center text-center text-white lg:mx-0 lg:max-w-[21.8125rem] lg:items-start lg:justify-center lg:text-left'>
                        <h1 class='max-w-60 text-4xl font-bold uppercase leading-none tracking-[0.035em] lg:max-w-max lg:text-[3.5rem]'>
                            {{ block.settings.product.title }}
                        </h1>
                        <p class='mt-6 text-[0.9375rem] font-medium leading-relaxed'>{{ block.settings.desc }}</p>
                        <a
                            href='{{ block.settings.product.url }}'
                            class='mt-6 w-max bg-black px-8 py-4 text-[0.8125rem] font-bold uppercase hover:cursor-pointer hover:bg-[#4C4C4C] lg:mt-10'
                        >
                            {{- block.settings.btn_label -}}
                        </a>
                    </div>
                </div>
            {% when 'half-column' %}
                <div class='relative h-[20rem]'>
                    <div class='absolute h-full w-full overflow-hidden'>
                        <picture>
                            <source
                                media='(min-width: 1024px)'
                                srcset='{{ block.settings.image |  image_url  }}'
                            >
                            <source
                                media='(min-width: 768px)'
                                srcset='{{ block.settings.image_tablet |  image_url  }}'
                            >
                            <img
                                class='h-full w-full rounded-lg'
                                src='{{ block.settings.image_mobile |  image_url  }}'
                                alt=''
                                width=''
                                height=''
                            >
                        </picture>
                    </div>
                    <div class='flex h-full flex-col justify-center gap-y-8 rounded-lg px-6 lg:px-24'>
                        <h1 class='z-10 text-[1.75rem] font-bold uppercase leading-none tracking-[0.05em]'>
                            {{ block.settings.product.title }}
                        </h1>
                        <a
                            href='{{ block.settings.product.url }}'
                            class='z-10 w-max border border-black bg-transparent px-8 py-4 text-[0.8125rem] text-sm font-bold uppercase hover:cursor-pointer hover:bg-black hover:text-white'
                        >
                            {{- block.settings.btn_label -}}
                        </a>
                    </div>
                </div>
            {% when 'two-column' %}
                <div class='w-full gap-x-8 space-y-6 md:flex md:h-[20rem] md:space-y-0'>
                    <div class='h-[12rem] w-full md:h-full md:w-1/2'>
                        <img
                            class='h-full w-full rounded-lg'
                            src='{{ block.settings.image |  image_url  }}'
                            alt=''
                            width=''
                            height=''
                        >
                    </div>
                    <div class='flex h-[12rem] w-full flex-col justify-center gap-y-8 rounded-lg bg-[#F1F1F1] pl-6 md:h-full md:w-1/2 lg:pl-[5.5%]'>
                        <h1 class='text-[1.75rem] font-bold uppercase leading-none tracking-[0.05em]'>
                            {% if block.settings.title == blank %}
                                {{ block.settings.product.title }}
                            {% else %}
                                {{ block.settings.title }}
                            {% endif %}
                        </h1>
                        <a
                            href='{{ block.settings.product.url }}'
                            class='w-max border border-black bg-transparent px-8 py-4 text-[0.8125rem] text-sm font-bold uppercase hover:cursor-pointer hover:bg-black hover:text-white'
                        >
                            {{- block.settings.btn_label -}}
                        </a>
                    </div>
                </div>
            {% else %}

        {% endcase %}
    {% endfor %}
</div>

{% schema %}
{
    "name": "Featured Columns",
    "settings": [],
    "blocks": [
        {
            "type": "full-column",
            "name": "full-column",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "Image Mobile"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "text",
                    "id": "desc",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "btn_label",
                    "label": "Button Label",
                    "default": "see product"
                }
            ]
        },
        {
            "type": "half-column",
            "name": "half-column",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_tablet",
                    "label": "Image Tablet"
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "Image Mobile"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "text",
                    "id": "btn_label",
                    "label": "Button Label",
                    "default": "see product"
                }
            ]
        },
        {
            "type": "two-column",
            "name": "two-column",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "btn_label",
                    "label": "Button Label",
                    "default": "see product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Columns"
        }
    ]
}
{% endschema %}
