{% assign main_menu_linklist = linklists[section.settings.menu].links %}
{% assign current_url = canonical_url | remove: shop.url %}

<header class='relative flex flex-col {%  if current_url == routes.root_url  %} lg:h-[100vh] {% endif %}'>
    <nav
        x-data='{ mobileMenuOpen: false, cartModal: false }'
        class='relative {%  if current_url == routes.root_url %}border-b border-white/10 md:border-none{% else %}bg-black{% endif %}'
    >
        <div class='container relative z-50'>
            <div class='flex flex-row items-center justify-between py-8 {%  if current_url == routes.root_url %}md:border-b md:border-white/10{% endif %}'>
                <div x-on:click='mobileMenuOpen = ! mobileMenuOpen' class='cursor-pointer md:hidden'>
                    {% render 'icon-hamburger' %}
                </div>
                <div class='flex items-center justify-between md:w-[30%] lg:w-[70%] xl:w-[65%]'>
                    <div
                        x-on:click='mobileMenuOpen = ! mobileMenuOpen'
                        class='hidden cursor-pointer md:block lg:hidden'
                    >
                        {% render 'icon-hamburger' %}
                    </div>
                    <div class='cursor-pointer'>
                        <a href='{{ routes.root_url }}'>{% render 'icon-logo' %}</a>
                    </div>
                    <div class='hidden items-center gap-x-8 lg:flex'>
                        {% for link in main_menu_linklist %}
                            <a
                                href='{{ link.url }}'
                                class='text-[0.8125rem] font-bold uppercase text-white hover:cursor-pointer hover:text-[#D87D4A]'
                            >
                                {{- link.title -}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% comment %}
                    <a href='{{ routes.cart_url }}' class='cursor-pointer'>
                        {% render 'icon-cart' %}
                    </a>
                {% endcomment %}
                <div x-on:click='cartModal = ! cartModal' class='cursor-pointer'>
                    {% render 'icon-cart' %}
                </div>
            </div>
        </div>

        {% comment %} mobile nav {% endcomment %}
        <div x-cloak x-show='mobileMenuOpen' class='lg:hidden'>
            <div class='fixed inset-0 z-20 bg-black bg-opacity-40 transition-opacity' aria-hidden='true'></div>
            <div class='absolute left-0 top-full z-50 w-full rounded-b-lg bg-white pb-16'>
                {% render 'collection-list' %}
            </div>
        </div>

        {% comment %} cart modal {% endcomment %}
        {% render 'cart-modal' %}
    </nav>

    {% if current_url == routes.root_url %}
        <div class='absolute top-0 z-[-1] h-full w-full'>
            <picture>
                <source media='(min-width:1024px)' srcset='{{ section.settings.featured_img |  image_url  }}'>
                <source media='(min-width:768px)' srcset='{{ section.settings.featured_img_tablet |  image_url  }}'>
                <img
                    class='h-full w-full'
                    src='{{ section.settings.featured_img_mobile |  image_url  }}'
                    alt=''
                    height=''
                    width=''
                >
            </picture>
        </div>
        <div class='container flex h-full justify-center lg:items-center lg:justify-start'>
            <div class='mb-[10rem] mt-[6.75rem] flex max-w-[23.75rem] flex-col items-center text-white md:mb-[12rem] md:mt-[7.875rem] lg:my-0 lg:items-start'>
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'product_label' %}
                            <h2 class='text-sm uppercase tracking-[0.7em] text-white/50'>
                                {{ section.settings.product_label }}
                            </h2>
                        {% when 'heading' %}
                            <h1 class='mt-4 text-center text-4xl font-bold uppercase leading-none tracking-[0.035em] lg:mt-6 lg:text-left lg:text-[3.5rem]'>
                                {{ section.settings.product.title }}
                            </h1>
                        {% when 'description' %}
                            <p class='mt-6 text-center text-[0.9375rem] font-medium leading-relaxed lg:text-left'>
                                {{ block.settings.description }}
                            </p>
                        {% when 'button' %}
                            <a
                                class='mt-7 bg-[#D87D4A] px-8 py-4 text-[0.8125rem] font-bold uppercase hover:cursor-pointer hover:bg-[#FBAF85] lg:mt-10'
                                href='{{ section.settings.product.url }}'
                            >
                                {{- block.settings.button_label -}}
                            </a>
                        {% else %}

                    {% endcase %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</header>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "label": "Header Menu",
            "default": "main-menu"
        },
        {
            "type": "image_picker",
            "id": "featured_img",
            "label": "Featured Image"
        },
        {
            "type": "image_picker",
            "id": "featured_img_mobile",
            "label": "Featured Image Mobile"
        },
        {
            "type": "image_picker",
            "id": "featured_img_tablet",
            "label": "Featured Image Tablet"
        },
        {
            "type": "product",
            "id": "product",
            "label": "Product"
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading"
        },
        {
            "type": "description",
            "name": "Description",
            "settings": [
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description"
                }
            ]
        },
        {
            "type": "product_label",
            "name": "Product Label",
            "settings": [
                {
                    "type": "text",
                    "id": "product_label",
                    "label": "Product Label"
                }
            ]
        },
        {
            "type": "button",
            "name": "Button",
            "settings": [
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button Label"
                }
            ]
        }
    ]
}
{% endschema %}
