<section class='container mt-[7.5rem] lg:mt-40'>
    <h1 class='text-center text-2xl font-bold uppercase'>you may also like</h1>
    <div class='mt-10 space-y-14 md:mt-14 md:grid md:grid-cols-3 md:gap-x-3 md:space-y-0 lg:gap-x-7'>
        {% for product in product.metafields.custom.recommendations.value %}
            <div class='flex flex-col items-center md:justify-between'>
                <img
                    class='h-[7.5rem] w-full rounded-lg md:h-[20rem]'
                    src='{{ product.featured_image |  image_url  }}'
                    alt=''
                    width=''
                    height=''
                >
                <div class='flex flex-col items-center'>
                    <h1 class='mt-8 text-center text-2xl font-bold uppercase md:mt-10'>
                        {% assign title = product.title | downcase | split: ' ' %}
                        {% if title.last == 'headphones' %}
                            {{ product.title | downcase | remove: 'headphones' }}
                        {% elsif title.last == 'earphones' %}
                            {{ product.title | downcase | remove: 'earphones' }}
                        {% else %}
                            {{ product.title }}
                        {% endif %}
                    </h1>
                    <a
                        class='mt-8 bg-[#D87D4A] px-8 py-4 text-[0.8125rem] font-bold uppercase text-white hover:cursor-pointer hover:bg-[#FBAF85] lg:mt-10'
                        href='{{ product.url }}'
                    >
                        see product
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
