<section class='container'>
    <div class='mt-8 flex justify-between'>
        <h1 class='text-lg font-bold uppercase'>Cart ({{ cart.item_count }})</h1>
        <a href='{{ routes.cart_clear_url }}' class='font-medium text-black/50 underline'>Remove all</a>
    </div>
    <form
        action='{{ routes.cart_url }}'
        method='POST'
        novalidate
    >
        {% for item in cart.items %}
            <div class='mt-14 md:flex md:items-center md:justify-between'>
                <img
                    class='h-[20.5rem] w-full rounded-lg md:h-[30rem] md:w-[17.5rem] lg:h-[35rem] lg:w-[33.75rem]'
                    src='{{ item.image |  image_url  }}'
                    alt=''
                    width=''
                    height=''
                >
                <div class='mt-8 flex flex-col items-start md:mt-0  md:w-[21.25rem] md:items-start xl:w-[27.8125rem]'>
                    <h1 class='text-[1.75rem] font-bold uppercase md:text-[1.75rem] lg:text-[2.5rem]'>
                        {{ item.title }}
                    </h1>
                    <p class='mt-6 text-lg font-bold text-black/50 md:mt-8'>
                        {{ item.final_price | money_without_trailing_zeros }}
                    </p>
                    <div class='mt-8 flex h-12 items-center gap-x-4 lg:mt-12'>
                        <quantity-input class='flex h-full w-[7.5rem] items-center justify-around bg-[#F1F1F1]'>
                            <button
                                type='button'
                                name='minus'
                                class='w-4 text-center text-[0.8125rem] font-bold text-black/25'
                            >
                                -
                            </button>
                            <input
                                type='number'
                                name='quantity'
                                name='updates[]'
                                id='updates_{{ forloop.index }}'
                                min='1'
                                value='{{ item.quantity }}'
                                class='flex w-8 bg-transparent text-center'
                            >
                            <button
                                type='button'
                                name='plus'
                                class='w-4 text-center text-[0.8125rem] font-bold text-black/25'
                            >
                                +
                            </button>
                        </quantity-input>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class='mt-8 flex justify-between'>
            <p class='text-[0.9375rem] font-medium uppercase text-black/50'>Total</p>
            <p class='text-lg font-bold'>{{ cart.total_price | money_without_trailing_zeros }}</p>
        </div>
        <button
            type='submit'
            name='checkout'
            class='mt-6 flex w-full justify-center bg-[#D87D4A] py-4 text-[0.8125rem] font-bold uppercase text-white hover:cursor-pointer hover:bg-[#FBAF85]'
        >
            checkout
        </button>
    </form>
</section>

{% schema %}
{
    "name": "Template Cart",
    "settings": [],
    "presets": [
        {
            "name": "Template Cart"
        }
    ]
}
{% endschema %}
